/* タブレット向けレイアウト */
@media (max-width: 992px) {

    body{
        padding:20px;
    }
    .top-message{
        width:50%;
        height: auto;
    }
    .top-img{
        width:50%;
        height: auto;
    }
        

    .member{
        width:50%;
        height: auto;
    }
}

/* スマホ向けレイアウト */
@media (max-width: 768px) {

     body{
         padding:20px;
     }

    .top-wrapper{
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    .top-message{
        width:100%;
        height: auto;
    }

    .top-img{
        width:100%;
        height: auto;
    }
    }