*{
  box-sizing:border-box;
}

body {
  font-family: sans-serif;
  background-image: url("../img/bg1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.signup-modal-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  top: 20%;
  left: 34%;
  background-color: #77c9ff;
  padding: 20px  40px;
  border-radius: 10px;
  width: 450px;
  height: auto;
  text-align: center;
}

.close-btn{
  float:right;
  cursor: pointer;
  color:#33338f;
}

#signup-form{
  width: 100%;
}

#signup-form h2 {
  letter-spacing: 1px;
  margin-bottom: 40px;
  color:#33338f;
}

#signup-form input {
  width: 320px;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 12px 12px;
  border: 1px solid #d0d5d8;
  border-radius: 5px;
}

#submit-btn {
  display: inline-block;
  padding: 14px 140px;
  background-color: #33338f;
  border: none;
  border-radius: 3px;
  color: white;
  margin: 10px auto;
  cursor: pointer;
}

.top-wrapper{
  text-align: center;
}

.container{
  padding:10px;
  display: flex;
}

.top-img{
  width:50%;
  height: auto;
  border-radius: 6px;
  opacity:0.952;
}

.top-message{
  background-color:rgba(255, 255, 255, 0.952);
  border-radius: 6px;
  text-align: center;
  padding:20px;
  margin:10px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup, .try {
  background-color: #239b76;
}

.btn {
  padding: 8px 24px;
  color: white;
  display: inline-block;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

.member-wrapper{
  background-color:rgba(255, 255, 255, 0.952);
  border-radius: 6px;
  text-align: center;
  padding:20px;
}

.members{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.member{
  background-color: rgb(247, 162, 174);
  border-radius: 6px;
  padding:10px;
  text-align: center;
  margin:5px;
  width:24%;
}

.btn-call {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.btn:active {
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

.member p{
  font-size:14px;
}

.try-wrapper{
  margin:50px;
  background-color:rgba(255, 255, 255, 0.952);
  border-radius: 6px;
  padding:50px;
  text-align: center;
}

.try{
  margin:50px;
  width:200px;
}



